// // Common
@import "variables";
//
//
// // Base
// @import "scaffolding";
// @import "type";
//
//
// // Modules
// @import "components/buttons";
// @import "components/images";
// @import "components/lists";


svg.visualization{
  margin: 0 auto;
  display: block;
  box-shadow: 1px 1px 10px rgba(0,0,0,.25);
}
.ativo{
  fill: $color__ativo;
}
.passivo{
  fill: $color__passivo;
}
.undefined{
  fill: $color__undefined;
}
